#loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

#login, #lastFmModule {
    display: inline-block;
}

#lastFmModule {
    float: right;
}

.inputs {
    margin-top: 13px;
}

.submit {
    width: 100%;
}

.results-header {
    border-bottom: rgb(227, 227, 227) 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.result {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-bottom: rgb(227, 227, 227) 1px solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#results {
    display: none;
}

.results-pane {
    height: 400px;
    overflow: auto;
}

#modules {
    width: 345px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}