#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

#login {
  margin-top: 7px;
}

input#name {
  margin-top: 11px;
}

.results-header {
    border-bottom: rgb(227, 227, 227) 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.result {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 0;
    margin-top: 5px;
    border-bottom: rgb(227, 227, 227) 1px solid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#results {
    display: none;
}
